
.content {
    background-color: rgba(218, 218, 218, 0.85);
    margin: 6% auto;
    max-width: 90%;
    height: 50rem;
    border: 3px solid black;
    grid-area: contentBlock;
  
  }
  .container #selfie {
    width: 18%;
    margin-right: 20px;
    float: left;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
  }
  .socialMedia {
    text-align: center;
  }